[user]
	name = Angus Lepper
	email = angus.lepper@cantab.net
[merge]
	tool = vimdiff
[alias]
	exec = "!exec "
	slog = "!git log --pretty=format:'%h%ad%an%s' --date=iso | column -t -s '' | less"
[init]
	templatedir = ~/.git_template
[diff]
	algorithm = patience
[color]
	ui = on
