[user]
	name = Angus Lepper
	email = angus.lepper@gmail.com
[merge]
	tool = vimdiff
[alias]
	exec = "!exec "
	slog = "!git log $1 --pretty=tformat:'%h%ad%an%s' --date=iso | column -t -s '' | less -FX #"
[init]
	templatedir = ~/.git_template
[diff]
	algorithm = patience
[color]
	ui = on
[push]
	default = upstream
[rerere]
	enabled = 1
